.main-container {
  height: 100%;
}

.app-content {
  min-height: 550px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sub-title {
  font-style: italic;
  font-weight: bold;
  color: #aaa;
}

.pokemon-card {
  max-width: 400px;
}

.pokemon-image {
  height: 300px;
  background-color: #eee;
}
