<mat-sidenav-container class="main-container">
    <mat-toolbar color="primary">
        <span class="title">Random Pokemon App</span>
    </mat-toolbar>
    <div class="app-content">
        <button mat-raised-button color="warn" (click)="getRandomPokemon()">Get your random Pokemon</button>
        <mat-card class="pokemon-card" *ngIf="randomPokemon">
            <img class="pokemon-image" mat-card-image src="https://raw.githubusercontent.com/HybridShivam/Pokemon/master/assets/images/{{randomPokemon.Number}}.png" alt="Photo of a Pokemon">
            <mat-card-content>
                <mat-card-header>
                    <p class="sub-title">#{{randomPokemon.Number}}</p>
                    <mat-card-title>{{randomPokemon.Name}}</mat-card-title>
                    <mat-card-subtitle>{{randomPokemon.About}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card-content>
            <mat-card-actions>
                <mat-chip-list>
                    <mat-chip *ngFor="let type of randomPokemon.Types" [color]="getColor(type)" selected>
                        {{type}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-sidenav-container>